{{define "head"}}
	<meta http-equiv="Content-Type" content="charset=UTF-8">	
	<title> DocMod </title> 
	<script type="text/javascript" src="js/JavaFunctions.js"></script>
	<link rel="stylesheet" href="css/style.css">
	
	<link rel="stylesheet hl" href="lib/highlight/styles/atom-one-dark.min.css">
	<script src="lib/highlight/highlight.min.js"></script>

	<link rel="stylesheet" href="lib/jstree/dist/themes/default/style.min.css" />
	<script src="lib/jquery/jquery_3.3.1.min.js"></script>
	<script src="lib/jstree/dist/jstree.min.js"></script>
		
{{end}}
{{define "sidenav"}}
	<div id="div0" class="sidenav">		
	</div>
{{end}}


